@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Manage your garage sale online. </h1>
    <p>You can add items for sale along with information such as price, brand, model, year, and description.</p>
    
    
</div>
